<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" media="screen" charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" media="screen"  charset="utf-8">
    <link rel="stylesheet" href="/css/normalize.css">
    <title>To Do List</title>
</head>
<body>
    <div class="jumbotron">
        <h1>Tasks</h1>
    </div>
    <div class="container">
    <h1>{{ task.getDescription }}</h1>

    {% if categories is not empty %}
        <p>Here are the categories for this task:</p>
        <ul>
            {% for category in categories %}
                <li>{{ category.getName }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h4>Add a category to this task:</h4>

    <form action='/add_categories' method='post'>
        <input id="task_id" name="task_id" type="hidden" value="{{ task.getId }}">
        <label for="category_id">Select a category</label>
        <select id='category_id' name='category_id' type='text'>
          {% for category in all_categories %}
            <option value="{{ category.getId }}"> {{ category.getName }} </option>
          {% endfor %}
        </select>
        <button class='btn' type='submit'>Add category</button>
    </form>

    <p><a href='/'>Home</a></p>
</div>
</body>
</html>
